<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/public/about1.css">
     <link rel="stylesheet" media="screen and (max-width: 900px)" href="/public/aboutresponsible.css">
    <!-- <link rel="stylesheet" media="screen and (max-width: 2000px)" href="aboutresponsible.css">  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <section id="Section1">
        <div id="div1">
        <div id="logo1">
            <img class="img1"
            src="/public/img/website_logo.png" alt="">
            <h3 id="companyname"> E-Sustain Power Pvt. Ltd.
            </h3>
        </div>
        <div class="navbar" id="navbarrsp" >
            <p class="nav1" id="nav1"><a href="/public/home.html" class="a" id="a1">Home</a></p>
            <!-- <p class="nav1" id="nav1"><a href="product.html" class="a" id="a2">Product</a></p> -->
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Product  </button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/public/produc1.html">Solar Dryer</a>
                  <a href="/public/product2.html">Rechargeable Battery</a>
                  {{!-- <a href="#">product 3</a> --}}
                </div>
            </div>
            <p class="nav2" id="nav2"><a href="/public/contact.html" class="a" id="a3">Contact Us</a></p>
            <p class="nav3" id="nav3"><a href="/public/abtUs.html" class="a" id="a4">About US</a></p>
            <p class="nav4" id="nav4"><a href="/public/team.html" class="a" id="a5">Team</a></p>
        </div>
    
        <div class="threedot">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
        </div>
        </div>
        <div id="div2" data-aos="fade-down" data-aos-duration="3000">
            <img src="https://solaronearth.com/wp-content/uploads/2019/08/communitysolarfarm.jpg" alt="" class="fontpageimg">
           
            <!-- <h1 class="fronpageh1">Lorem, ipsum.</h1>
            <p class="frontpagepera">my name is kapil</p>
            <a href="#Section3" class="b1" ><p class="blue">shope now</p></a> -->

            <div class="about-section">
                <div class="abtTitle">
                    <h1>About Us</h1>
                </div>
    
                <hr class="abtLine">
                
                <strong>We are the community that provides solutions to all your energy <br> requirements in efficient ways</strong>
                <br>
                <br>
                
                <p class="abtP">Find out more about us below.</p>
    
                <br>
                <br>
    
            </div>
            
        </div>

        <div class="abtTit2">
            <h2>Our Vision</h2>
        </div>
        <div class="tit2P">
            The goal of our company is to provide sustainable and affordable solutions for households and businesses 
            to reduce their reliance on traditional power sources and decrease their carbon footprint. 
            By using solar energy, our company helps to reduce the environmental impact of energy consumption
             and provide a cleaner and more sustainable future for all.

        </div>

        <div class="tit3">            
            <h2 class="tit3T"> <b> Values </b></h2>
            <hr class="abtLine2">
        </div>

        <div>
           <table>
            <tr>
                <td>
                    <ul class="tit3L">
                        <li ><b>Quality:</b> High-quality products <br> that are reliable and durable.</li>
                        <br>
                        <li><b>Price:</b> Products that are priced appropriately for their <br> perceived  value. </li>
                        <br>
                        <li><b>Trust:</b> Customers can trust <br> and rely on us to deliver what we promise.</li>
                        <br>
                        <li><b>Innovation:</b> We are innovative and offer uniqueness in products <br> or services.</li>
                        <br>
                        <li class="red"><b>Sustainability:</b> We are environmentally and socially responsible and strive to make a positive impact on the world.</li>
                        <br>
                       </ul>
                </td>
                </tr>
                <div>
                    <img src=" " alt="" >
                </div>
                <div>
                    <img src="solar.jpg" alt="" class="about2img">
                </div>
           </table>
        </div>  
        <div class="social-menu">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                 </ul>
          </div>
          <div class="copyright">    
                <p>copyright &copy;2023 Sun Ojas Pvt. Ltd.</p>
          </div>        
    </section>

       
    
   <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script src="index.js"></script> -->

   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script src="/public/AOS.js"></script>
   <script src="/public/index.js"></script>


</body>
</html>