<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="/public/phone.css">
    <!-- <link rel="stylesheet" media="screen and (max-width: 500px)" href="phone1.css"> -->
</head>
<body>
    <section id="Section1" >
        <div id="div1">
            <div id="logo1">
                <img class="img1"
                src="/public/img/website_logo.png" alt="">
                <h3 id="companyname"> E-Sustain Power Pvt. Ltd.
                </h3>
            </div>
            <div class="navbar" id="navbarrsp" >
                <p class="nav1" id="nav1"><a href="/public/home.html" class="a" id="a1">Home</a></p>
                  <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Product </button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="/public/product1.html">solar dryer</a>
                      <hr class="dropdownline">
                      <a href="/public/product2.html">Rechargeable Battery</a>
                    </div>
                   </div>
                <p class="nav2" id="nav2"><a href="/public/contact.html" class="a" id="a3">Contact Us</a></p>
                <p class="nav3" id="nav3"><a href="/public/about.html" class="a" id="a4">About US</a></p>
                <p class="nav4" id="nav4"><a href="/public/team1.html" class="a" id="a5">Team</a></p>
            </div>
            <div class="threedot">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
            </div>
        </div>
        <div id="div2">
            <img src="/public/img/frontpageimg.jpg" alt="" class="fontpageimg">
            {{!-- <h1 class="fronpageh1" data-aos="fade-up" data-aos-duration="2000">SUN OJAS </h1> --}}
            <p class="frontpagepera" data-aos="fade-up" data-aos-duration="2000">Powering Lives with Solar Energy</p>
            <a href="/public/contact.html" class="b1">Shop Now</a>
            
        </div>
       </section>

    <section class="Section2">
        <div class="homepagesection2dev1" data-aos="zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-offset="0">
        <h1 class="homepagesection2h1">What is Solar Energy ?</h1>
        <p class="homepagesection2p1">Solar energy is radiant light and heat from the Sun that is harnessed using various technologies such as solar power to generate various forms of energy. It is an essential source of renewable energy. Its technologies are broadly characterized as passive or active solar depending on how they capture and distribute solar energy or convert it into solar power. <br>
           <b> Potential of Solar Energy </b> <br>
            The Earth receives 174 petawatts (PW) of incoming solar radiation (insolation) in the upper atmosphere. Approximately 30% is reflected in space while the rest, 122 PW, is absorbed by clouds, oceans, and land masses.This energy can be used efficiently using various technology.
             <br>
            </p>
            <img src="/public/img/poster1.jpg" alt="" class="poster1" data-aos="zoom-in" data-aos-duration="1000">
            
            
        </div>
    </section>
    <section class="section4">
    
        <div class="homepagesection4dev1" data-aos="zoom-in" 
        data-aos-easing="ease-in-back"
        data-aos-delay="300"
        data-aos-duration="1000"
        data-aos-offset="0">
        <h1 class="homepagesection4h1">Renewable Energy</h1>
        {{!-- <hr class="homepagesection4line"> --}}
        <!-- <h1 class="homepagesection4h2"> </h1> -->
        <p class="homepagesection4p1">Renewable energy is energy derived from natural sources that are replenished at a higher rate than consumed. Sunlight and Wind are such sources that are constantly being filled. Renewable energy sources are plentiful and all around us.
            Renewable energy often displaces conventional fuels in four areas: electricity generation, hot water/space heating, transportation, and rural (off-grid) energy services. These energy sources prove to be efficient to mankind in the long run and are sustainable for the environment.
             <br>
        </p>
       
        <img src="/public/img/poster2.jpg" alt="" class="poster2"  data-aos="zoom-in" 
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-offset="0">
        
        
    </div>
    </section>

    <section class="Section3">
        <div class="section3div1">
            <img src="/public/img/Home_Img1.jpg" alt="" class="section3product1img">
            <!-- <h2 class="section3product1h1">productName</h2> -->
            <!-- <h2 class="section3product1price">USD $ 280</h2> -->
            <p class="section3product1info">Globally, the cumulative solar power capacity surged past 800 gigawatts (GW), demonstrating the rapid growth of solar energy as a pivotal component of the global energy landscape. China led the charge with a formidable solar capacity, solidifying its status as the world's foremost solar power producer. Following closely were the United States and Europe, both significant players in harnessing solar energy.
                <br>India plays a pivotal role in the global solar energy landscape, with ambitious targets, rapid capacity growth, and investments.
            </p>
            <!-- <a href="" class="section3product1orderbutton">order now </a> -->
            <!-- <a href="" class="section3product1morebutton">more... </a> -->
        
        </div>
        <div class="section3div2">
            <img src="/public/img/home_img2.jpg" alt="" class="section3product2img">
            <!-- <h2 class="section3product1h1">productName</h2> -->
            <!-- <h2 class="section3product1price">USD $ 280</h2> -->
            <p class="section3product1info">India has surged as a prominent global solar energy player, targeting 100 GW by 2022 and 450 GW by 2030. With over 40 GW of installed capacity by 2021, India is a solar leader. Major cities like Delhi, Mumbai, and Bengaluru are actively adopting solar power. Delhi, for instance, has over 80 MW of solar rooftop installations. India's solar initiatives have created jobs, expanded energy access, and curbed pollution. Internationally, India's engagement through the International Solar Alliance fosters global renewable energy cooperation. </p>
            <!-- <a href="" class="section3product1orderbutton">order now </a> -->
            <!-- <a href="" class="section3product1morebutton">more... </a> -->
        </div>
    </section>
    <section class="section5">
        <img src="/public/img/endfrontpage.jpg" alt="" class="section5img1" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section5div2">
            <h1 class="section4h1">Sign up now to get updates and news from us.

            </h1>
            <hr class="hr1">
            <p class="section5p1">Find out how E-Sustain Power Pvt. Ltd. can reduce your energy costs.</p>
            <p class="section5p2">Call (+91)7679611079.</p>
        </div>
    </section>
    
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script src="/public/index.js"></script>
   <script src="/public/AOS.js"></script>
</body>
</html>