<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/product2.css">
    <link rel="stylesheet" media = "screen and (max-width: 900px)" href="/public/product2_phone.css">
    <!-- <link rel="stylesheet" media = "screen and (max-width: 500px)" href="produc1_phone.css"> -->
    <link  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <section>

    
    <div id="div1">
        <div id="logo1">
            <img class="img1"
            src="/public/img/website_logo.png" alt="">
            <h3 id="companyname"> E-Sustain Power Ltd. Pvt.
            </h3>
        </div>
        <div class="navbar" id="navbarrsp" >
            <p class="nav1" id="nav1"><a href="/public/home.html" class="a" id="a1">Home</a></p>
            <!-- <p class="nav1" id="nav1"><a href="" class="a" id="a1">product ^ </a></p> -->
            <!-- <p class="nav1" id="nav1"><a href="product.html" class="a" id="a2"> product ^ </p> -->
              <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Product ^ </button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/public/product1.html">Solar Dryer</a>
                  <a href="/public/Product2.html">Rechargeable Battery</a>
                  {{!-- <a href="#">product 3</a> --}}
                </div>
            </div>
            <p class="nav2" id="nav2"><a href="/public/contact.html" class="a" id="a3">Contact Us</a></p>
            <p class="nav3" id="nav3"><a href="/public/about.html" class="a" id="a4">About US</a></p>
            <p class="nav4" id="nav4"><a href="/public/team.html" class="a" id="a5">Team</a></p>
        </div>
    
        <div class="threedot">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
        </div>
        </div>
    </section>

    <div class="nevbarforproduct">
        <a href="/public/home.html" class="nevabarforproduc1">Home > </a>
        <a href="/public/product1.html" class="nevabarforproduc1"> Solar Dryer > </a>
        <a href="/public/product2.html" class="nevabarforproduc1">Rechargeable Battery </a>
        {{!-- <a href="" class="nevabarforproduc1">product 3  </a> --}}
    </div>
    <section class="section2">
        <div class="product1img">

            <img src="/public/img/product1img1.jpeg" alt="image" class="product1img1" id="img1">
            <img src="/public/img/product1img2.jpeg" alt="image" class="product1img1" id="img2">
            <img src="/public/img/product1img3.jpeg" alt="image" class="product1img1" id="img3">
        </div>
        <div>
            <button id="mybutton" onclick="fun1()"><img src="/public/img/product1img1.jpeg" alt="image" id="product1img1small"></button>
            <button onclick="fun2()"><img src="/public/img/product1img2.jpeg" alt="image" id="product1img2small"></button>
            <button onclick="fun3()"><img src="/public/img/product1img3.jpeg" alt="image" id="product1img3small"></button>
        </div>
    </section>
    <section>
        <div>
            <h1 class="productname1">Rechargeable Battery</h1>
            <p class="produc1para">A rechargeable battery, also known as a secondary cell or storage battery, is a versatile and eco-friendly energy storage solution designed to power a wide range of devices and applications. Unlike single-use or disposable batteries, rechargeable batteries are built to be charged and discharged multiple times, making them a sustainable and cost-effective choice for powering everything from portable electronics to electric vehicles.</p>
            <h1 class="productname2">USD $200</h1>
            <hr class="productpageline1">
            <a href="/public/contact.html" class="productpagesubmitbutton">Order Now</a>
            <!-- <a href="#" class="button">Hover me</a> -->
        </div>
    </section>
    <section>
        <div>
            <h2  class="heading_for_Details">Details</h2>
            <hr class="Details_line-1">
            <hr class="Details_line-2">
            <p class="Details_para1"></pclass> In addition, solar dryers reduce drying times compared to solar drying as natural drying is under a temperature of 35-40 degrees whereas using solar dryers the temperature increases to 55-60 degree temperature.  </p>
            <!-- <p>
                (1)Silica (SiO2) supported V2O5-rGO hybrid synthesized through hydrothermal and annealing methods.
               (2) Zinc serves as the anode.
(3)Reduced graphene oxide (rGO), vanadium pentoxide (V2O5), and silicon dioxide (SiO2) act as electron acceptors.
(4)Durable and sustainable battery design.
(5)Lower cost of maintenance.
(6)Enhanced energy storage efficiency due to precise material synthesis.
(7)Reliable performance for various applications.
(8)Eco-friendly approach with sustainable materials.


            </p> -->

            <ul class="Details_para2">
                <li>
                    Silica (SiO2) supported V2O5-rGO hybrid synthesized through hydrothermal and annealing methods.
                </li>
            
                <li>
                    Zinc serves as the anode.       
                </li>
                <li>Reduced graphene oxide (rGO), vanadium pentoxide (V2O5), and silicon dioxide (SiO2) act as electron acceptors.</li>
                <li>Durable and sustainable battery design.</li>
                <li>Lower cost of maintenance.</li>
                <li>Enhanced energy storage efficiency due to precise material synthesis.
                </li>
                <li>Reliable performance for various applications.</li>
                <li>Eco-friendly approach with sustainable materials.</li>
            </ul>
                
                
                
            <!-- <p class="Details_para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quis iusto eum facere! Asperiores ratione quidem cupiditate expedita harum in corrupti sit necessitatibus. Praesentium rerum dolorum quos vero velit quaerat odio doloremque! Commodi cumque nemo id fugit quaerat sequi, voluptate dolorum assumenda totam ducimus, fuga unde accusantium delectus. Incidunt pariatur repellat explicabo numquam, sint tempore minus?</p> -->
        </div>
        <div class="social-menu">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                 </ul>
          </div>
          <div class="copyright">    
                <p>copyright &copy;2023 Sun Ojas Pvt. Ltd.</p>
          </div>
    
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/public/produc1.js"></script>
</body>
</html>