<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/team1.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="kisss.css">

</head>
<body>

  <div id="div1">
    <div id="logo1">
        <img class="logoimg1"
        src="/public/img/logo.png" alt="">
        <h3 id="companyname"> E-Sustain Power Pvt. Ltd.
        </h3>
    </div>
    <div class="navbar" id="navbarrsp" >
        <p class="nav1" id="nav1"><a href="/public/home.html" class="a" id="a1">Home</a></p>
        <p class="nav2" id="nav2"><a href="/public/product1.html" class="a" id="a2">Product</a></p>
        <p class="nav3" id="nav3"><a href="/public/contact.html" class="a" id="a3">Contact Us</a></p>
        <p class="nav4" id="nav4"><a href="/public/about.html" class="a" id="a4">About US</a></p>
        <p class="nav5" id="nav5"><a href="/public/team1.html" class="a" id="a5">Team</a></p>
        
    </div>

    <div class="threedot">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
    </div>
    </div>




    
 <div class="responsive-container-block team">
        <div class="responsive-container-block team1">
<p class="tittle">
    Our Mentors
</p>
<div class="responsive-container-block img1">
<div class="responsive-cell-block memberimg">
    <img class="team-member-img" src="/public/img/ravi kumar.png">
    <p class="text-blk name">
       Dr.Ravi Kumar Arun
    </p>
   
    <p class="text-blk education">
   Assistant Professor at IIT Jammu
    </p>
<div class="social-media">
    <a href="https://www.twitter.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
      </a>
      <a href="https://www.facebook.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
      </a>
      <a href="https://www.gmail.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
      </a>
  </div>
  
</div>
<div class="responsive-cell-block memberimg">
    <img class="team-member-img" src="/public/img/99346.jpg">
    <p class="text-blk name">
       Dr.Anup Shukla
    </p>
   
    <p class="text-blk education">
      Assistant Professor at IIT Jammu
    </p>
    <div class="social-media">
    <a href="https://www.twitter.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
      </a>
      <a href="https://www.facebook.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
      </a>
      <a href="https://www.gmail.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
      </a>
    </div>

</div>
<div class="responsive-cell-block memberimg">
    <img class=" team-member-img" src="/public/img/216667.jpg">
    <p class="text-blk aname">
        Dr. Ambika Prasad Shah
    </p>
    
    <p class="text-blk aeducation">
      Assistant Professor at IIT Jammu
    </p>
    <div class="social-media">
    <a href="https://www.twitter.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
      </a>
      <a href="https://www.facebook.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
      </a>
      <a href="https://www.gmail.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img class="social-media-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
      </a>
    </div>
</div>
</div>











<div class="techgrp">
    <div class="tech">
<p class="tit">
Technical Team
</p>

<div class="techimg">
<div class="techmemberimg">
<img class="imglink1" src="/public/img/nandini1.jpg">
<p class="techname">
   Nandini Gupta
</p>

<p class="techeducation">
    B.Tech in Chemical engineering at IIT Jammu
</p>
<div class="social-media1">
<a href="https://www.twitter.com" target="_blank">
    <img class="social-media-icon1" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
  </a>
  <a href="https://www.facebook.com" target="_blank">
    <img class="social-media-icon1" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
  </a>
  <a href="https://www.gmail.com" target="_blank">
    <img class="social-media-icon1" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
  </a>
  <a href="https://www.instagram.com" target="_blank">
    <img class="social-media-icon1" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
  </a>
</div>
</div>
<img class=" imglink2" src="/public/img/sunny.jpg">
<p class="techname2">
    Sunny Kumar
</p>

<p class="techeducation2">
  B.Tech in Chemical engineering at IIT Jammu
</p>
<div class="social-media2">
<a href="https://www.twitter.com" target="_blank">
    <img class="social-media-icon2" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
  </a>
  <a href="https://www.facebook.com" target="_blank">
    <img class="social-media-icon2" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
  </a>
  <a href="https://www.gmail.com" target="_blank">
    <img class="social-media-icon2" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
  </a>
  <a href="https://www.instagram.com" target="_blank">
    <img class="social-media-icon2" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
  </a>
</div>
</div>
</div>

<div class="financegrp">
    <div class="finance">
<p class="tit3">
Finance Team
</p>

<div class="financeimg">
<div class="financememberimg">
<img class="imglink3" src="/public/img/kishan.jpg">
<p class="financename">
   Kishan Das
</p>

<p class="financeeducation">
  B.Tech in Chemical engineering at IIT Jammu
</p>
<div class="social-media3">
<a href="https://www.twitter.com" target="_blank">
    <img class="social-media-icon3" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
  </a>
  <a href="https://www.facebook.com" target="_blank">
    <img class="social-media-icon3" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
  </a>
  <a href="https://www.gmail.com" target="_blank">
    <img class="social-media-icon3" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
  </a>
  <a href="https://www.instagram.com" target="_blank">
    <img class="social-media-icon3" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
  </a>
</div>
</div>




<div class="prgrp">
  <div class="pr">
<p class="tit4">
Public Relation/Marketing Team
</p>

<div class="primg">
<div class="prmemberimg">
<img class="imglink4" src="/public/img/vishwaroop.jpg">
<p class="prname4">
 Vishwaroop Gangarde
</p>

<p class="preducation4">
  B.Tech in Chemical engineering at IIT Jammu
</p>
<div class="social-media34">
<a href="https://www.twitter.com" target="_blank">
  <img class="social-media-icon4" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
</a>
<a href="https://www.facebook.com" target="_blank">
  <img class="social-media-icon4" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
</a>
<a href="https://www.gmail.com" target="_blank">
  <img class="social-media-icon4" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
</a>
<a href="https://www.instagram.com" target="_blank">
  <img class="social-media-icon4" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
</a>
</div>
</div>
<img class=" imglink5" src="/public/img/rsz_abhinish.jpg">
<p class="prname5">
    Abhinish K. Ojha
</p>

<p class="preducation5">
  B.Tech in Chemical engineering at IIT Jammu
</p>
<div class="social-media33">
<a href="https://www.twitter.com" target="_blank">
    <img class="social-media-icon5" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
  </a>
  <a href="https://www.facebook.com" target="_blank">
    <img class="social-media-icon5" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
  </a>
  <a href="https://www.gmail.com" target="_blank">
    <img class="social-media-icon5" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
  </a>
  <a href="https://www.instagram.com" target="_blank">
    <img class="social-media-icon5" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
  </a>
  

 
</div>
</div>
</div>



<div class="webgrp">
  <div class="web">
<p class="tit5">
Our Development Team
</p>

<div class="webimg">
<div class="webmemberimg">
<img class="imglink6" src="/public/img/kapil.jpg">
<p class="webname">
 Kapil Charan
</p>

<p class="webeducation">
  B.Tech in Chemical engineering at IIT Jammu
</p>
<div class="social-media53">
<a href="https://www.twitter.com" target="_blank">
  <img class="social-media-icon6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
</a>
<a href="https://www.facebook.com" target="_blank">
  <img class="social-media-icon6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
</a>
<a href="https://www.gmail.com" target="_blank">
  <img class="social-media-icon6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
</a>
<a href="https://www.instagram.com" target="_blank">
  <img class="social-media-icon6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
</a>
</div>
</div>












</div>
</div>
</body>
</html>